.container {
    max-width: 1280px;
    margin: 0 auto;
}

.authors-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    margin-bottom: 48px;
}

.authors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.authors-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F4F4F4;
}

#yellow{
    background: #FBF6EA;
}

.author-img {
    margin: 40px 0 20px;
    border-radius: 100%;
    width: 128px;
    height: 128px;

}

.author-name {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: -1px;
}

.author-text {
    color: var(--Medium-grey, #6D6E76);
    font-family: Inter;
    font-size: 14px;
    line-height: 20px;
    /* 142.857% */
    margin: 0 28px 20px;

}

.authors-list-item-iconlist {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
}